.home-container {
    padding: 20px 10px;
    font-size: 14px;
    text-align: center;
}

.banner {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 22px;
    background-color: #00285F;
    border-radius: 10px;
}

.banner-description {
    padding-top: 35px;
    color: #fff;
}

.banner-description h1 {
    font-size: 21px;
    margin-bottom: 15px;
}

.banner-image svg {
    margin-top: 40px;
    width: 100%;
    height: auto;
}

.cta-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 25px 50px;
    background-color: #EDEDED;
    border-radius: 10px;
}

.text-cta {
    padding-top: 9px;
    font-size: 18px;
    color: #585858;
}

@media (min-width: 576px) {
    .home-container {
        padding: 30px 20px;
        font-size: 18px;
    }

    .banner {
        padding: 22px 58px;
    }

    .banner-description {
        padding-top: 19px;
    }

    .banner-description h1 {
        font-size: 36px;
        margin-bottom: 3px;
    }

    .banner-image svg {
        margin-top: 0;
    }

    .cta-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        padding: 40px 0;
    }

    .cta-container Button {
        margin-right: 16px;
    }

    .text-cta {
        padding-top: 0;
    }

    .text-cta p{
        margin:  0;
    }
}

@media (min-width: 768px) {
    .home-container {
        font-size: 18px;
    }

    .banner {
        padding: 79px 152px;
    }

    .banner-description {
        padding-top: 37px;
    }

    .cta-container {
        justify-content: flex-start;
        margin-top: 25px;
        padding: 45px 82px;
    }
}

@media (min-width: 992px) {

    .banner {
        padding: 68px 248px;
    }

    .banner-description {
        padding-top: 17px;
    }
}

@media (min-width: 1280px) {
    .home-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
    }

    .banner {
        max-width: 979px;
        padding: 63px 78px;
        flex-direction: row;
    }

    .banner-description {
        margin-left: 15px;
        margin-right: 85px;
        max-width: 420px;
    }

    .cta-container {
        width: 100%;
        max-width: 979px;
        margin-top: 30px 0;
    }
}
