.main-nav {
    padding-left: 20px;
    min-height: 70px;
    background-color: #F78B00;
}

.main-menu {
    display: flex;
    font-size: 18px;
    width: 170px;
    justify-content: space-between;
}

.main-menu a.active {
    font-weight: bold;
}

.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
}

.navbar-toggler-icon {
    background-image: url(../../assets/images/navbar-toggler-icon.svg) !important;
}
